# Copy this file to .env.container and fill with real values

JWT_OPTIONS_KEY=replace-me
JWT_OPTIONS_ISSUER=https://dark-side.tech
JWT_OPTIONS_AUDIENCE=https://anid.cl

SMTP_PASSWORD=replace-me
ZENDESK_API_TOKEN=replace-me
