# Copy this file to .env.container and fill with real values

# JWT
JWT_OPTIONS_KEY=replace-me
JWT_OPTIONS_ISSUER=https://dark-side.tech
JWT_OPTIONS_AUDIENCE=https://anid.cl

# PostgreSQL
POSTGRES_CONNECTION_STRING=Host=host.docker.internal;Port=5432;Database=AUT2Services;Username=postgres;Password=replace-me

# Mongo
MONGO_CONNECTION_STRING=mongodb://host.docker.internal:27017

# SMTP
SMTP_CLIENT=smtp.gmail.com
SMTP_PORT=587
SMTP_REMITENTE=replace-me@example.com
SMTP_PASSWORD=replace-me
SMTP_ENABLE_SSL=true

# Zendesk
ZENDESK_SUBDOMAIN=https://darksidetech.zendesk.com
ZENDESK_EMAIL=replace-me@example.com
ZENDESK_API_TOKEN=replace-me
ZENDESK_API_URI=/api/v2/tickets.json
